grant {
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.util.PropertyPermission "*", "read,write";
    permission java.io.FilePermission "/dev/null", "read";
};
