---
apiVersion: v1
kind: ConfigMap
metadata:
  name: elasticmq-config
  namespace: es-replication
data:
  elasticmq.conf: |
    include classpath("application.conf")
    node-address {
      protocol = http
      host = "*"
      port = 9324
      context-path = ""
    }
    rest-sqs {
      enabled = true
      bind-port = 9324
      bind-hostname = "0.0.0.0"
      sqs-limits = strict
    }
    queues {
      es-replication {
        defaultVisibilityTimeout = 300 seconds
        delay = 0 seconds
        receiveMessageWait = 10 seconds
      }
    }
---
apiVersion: v1
kind: Service
metadata:
  name: elasticmq
  namespace: es-replication
spec:
  ports:
    - port: 9324
      name: sqs
  selector:
    app: elasticmq
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticmq
  namespace: es-replication
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticmq
  template:
    metadata:
      labels:
        app: elasticmq
    spec:
      containers:
        - name: elasticmq
          image: softwaremill/elasticmq:latest
          ports:
            - containerPort: 9324
          volumeMounts:
            - name: config
              mountPath: /opt/elasticmq.conf
              subPath: elasticmq.conf
      volumes:
        - name: config
          configMap:
            name: elasticmq-config
